<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eve.bookmarks.schedule.dao.ScheduleRecordMapper">
  <resultMap id="BaseResultMap" type="com.eve.bookmarks.schedule.domain.po.ScheduleRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="dead_line" jdbcType="TIMESTAMP" property="deadLine" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="schedule_id" jdbcType="BIGINT" property="scheduleId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>


  <sql id="Base_Column_List">
    id, create_time, dead_line, state, update_time, schedule_id, user_id, remark
  </sql>

  <insert id="insert" parameterType="com.eve.bookmarks.schedule.domain.po.ScheduleRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into schedule_record (create_time, dead_line, state, 
      update_time, schedule_id, user_id, 
      remark)
    values (#{createTime,jdbcType=TIMESTAMP}, #{deadLine,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{scheduleId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR},
      #{remark,jdbcType=VARCHAR})
  </insert>

  <select id="querySchRecordList" parameterType="map" resultType="arraylist">
    select *
    from schedule_record rcd
    where rcd.dead_line &lt;= #{endTime}
      and rcd.dead_line > #{startTime}
      and rcd.user_id = #{userId}
    order by rcd.state,rcd.dead_line
  </select>

</mapper>