<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计划时刻表</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://localhost:8090/js/bootstrap-datetimepicker.js"></script>
    <script src="http://localhost:8090/js/common.js"></script>

    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="http://localhost:8090/js/schList.js"></script>
    <script src="http://localhost:8090/js/template-web.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="http://www.bootcss.com/p/buttons/css/buttons.css">
    <link rel="stylesheet" href="http://localhost:8090/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="http://localhost:8090/css/timeline.css">

</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">计划列表</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="newPlan"><a href="#">新增计划</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- 布局-->
<div class="container">
    <div class="row">
        <div class="col-sm-6 ">
            <div class="page-header">
                <h1 id="timeline">Timeline</h1>
            </div>
            <ul class="timeline">
            </ul>
        </div>
        <div class="col-sm-6">
            <a href="http://www.bootcss.com/" class="button button-primary button-small">Go</a>
            <a href="http://www.bootcss.com/"
               class="button button-highlight button-pill button-large">Go</a>
        </div>
    </div>
</div>
<!--弹出表单 -->
<div class="modal fade" tabindex="-1" role="dialog" id="detail">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">新增计划</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group ">

                        <label for="title" class="col-sm-3 control-label">标题</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="title" placeholder="请输入计划标题">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstDeadLine" class="col-sm-3 control-label">最后完成期限</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="2012-05-15 21:05" id="firstDeadLine"
                                   data-date-format="yyyy-mm-dd hh:ii">

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-3 control-label">计划间隔</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="scheduleNum" placeholder="间隔">
                        </div>
                        <div class="dropdown col-sm-7">
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="1" checked>年
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosinline" id="optionsRadios4" value="2">月
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosinline" id="optionsRadios5" value="3">日
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remark" class="col-sm-3 control-label">备注</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="remark"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div align="center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary save">保存</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- 时间线node-->
<script id="tpl-timeLineNode" type="text/html">
    <li>
        <div class="hidd" hidden> {{state}}</div>
        <div class="hd timeline-badge">
            <i></i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">{{schedule.title}}</h4>
                {{if state==1}}
                <p>
                    <small class="text-muted">
                        <i class="glyphicon glyphicon-time"></i> {{updateTimeStr}}
                    </small>
                </p>
                {{/if}}
            </div>
            <div class="timeline-body">
              <!--  <p>{{schedule.remark}}</p>-->
                {{if state!=1}}
                <hr>
                <div align="right">
                <button type="button" class="btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-ok"></span> 打卡
                </button>
                <button type="button" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-remove"></span>放弃
                </button>
                </div>
            </div>
            {{/if}}
        </div>
        </div>
    </li>

</script>
</body>
</html>